@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4319 Clara Ln<br />
    Muncie, IN 47304<br />
    <abbr title="Phone">P:</abbr>
    765.387.6339
</address>

<address>
    <strong>Support and Sales:</strong>   <a href="mailto:Support@example.com">Cheria.Artis.Dev@gmail.com</a><br />
</address>