@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BPMS by CA Graphics LLC</h1>
    <p class="lead">Branded Patient Management System (BPMS) is an application geared towards doctors' offices to manage doctor, patient, and appointment information with their own logos and names on the application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Development</h2>
        <p>
            Built with C# and .NET and deployed on Azure with a repository on GitHub, BPMS will begin work on version 2 in December 2021. Among other functionality, more views will be added for lab/test details and the other items listed in the planning documents as stretch goals.
        </p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1u-PGY6QVhn3a8NIuTwXxRs943WS0RaCpKFeGA5_qzKI/edit#heading=h.apyy2fblhnhk">Learn more &raquo;</a></p>
    </div>
    
</div>